<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


   <h1><%=@movie_title%> (<%=@movie_info[0]["year"]%>)</h1>
    <h2><%=@movie_info[0]["studio"]%></h2>
    <h3><%=@movie_info[0]["genre"]%></h3>


   <h2>Cast:</h2>
   <table style="width:500px">

   <tr>
    <th>Actor</th>
    <th>Character</th>
   </tr>

     <%@movie_info.each do |character|%>
    <tr>
       <td><a href="/actors/<%=character["actor_id"]%>"><%=character["name"]%></a></td>
       <td><%=character["character"]%></td>

    </tr>
   <%end%></table>



  </body>
</html>







