<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
  </head>
  <body>
    <h1>Movies</h1>
      <table>
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>Genre</th>
          <th>Studio</th>
          <th>Rating</th>
        </tr>
      <%@moviesdb.each do |movie|%><tr>
        <td> <a href="/movies/<%=movie["id"]%>"><%=movie["title"]%></a></td>
        <td> <%=movie["year"]%>     </td>
        <td> <%=movie["studio"]%>   </td>
        <td> <%=movie["genre"]%>    </td>
        <td> <%=movie["rating"]%>   </td>
        <td> </td>
      </tr> <%end%>
      </table>

  </body>
</html>






